services:

  db:
    image: mariadb:latest
    container_name: seafile-db
    hostname: seafile-db
    volumes:
      - ./seafile/db:/var/lib/mysql:rw
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: seafile_db
      MYSQL_USER: seafileuser
      MYSQL_PASSWORD: seafilepassword
      TZ: Europe/Madrid
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: seafile-redis
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass redispass
    volumes:
      - ./seafile/redis:/data:rw
    environment:
      REDIS_PASSWORD: redispass
    restart: unless-stopped
    
  seafile:
    image: seafileltd/seafile-mc:13.0-latest
    container_name: seafile
    volumes:
      - ./opt/seafile-data:/shared:rw
    ports:
      - "8200:80"
    environment:
       INIT_SEAFILE_MYSQL_ROOT_PASSWORD: rootpass
       SEAFILE_MYSQL_DB_HOST: seafile-db
       SEAFILE_MYSQL_DB_USER: seafileuser
       SEAFILE_MYSQL_DB_PORT: 3306
       SEAFILE_MYSQL_DB_PASSWORD: seafilepassword
       SEAFILE_MYSQL_DB_SEAFILE_DB_NAME: seafile_db
       SEAFILE_MYSQL_DB_CCNET_DB_NAME: ccnet_db
       SEAFILE_MYSQL_DB_SEAHUB_DB_NAME: seahub_db
       CACHE_PROVIDER: redis
       REDIS_HOST: redis
       REDIS_PORT: 6379
       REDIS_PASSWORD: redispass
       TIME_ZONE: Europe/Madrid
       SEAFILE_VOLUME: /opt/seafile-data
       SEAFILE_MYSQL_VOLUME: /opt/seafile-mysql/db
       INIT_SEAFILE_ADMIN_EMAIL: admin@example.com
       INIT_SEAFILE_ADMIN_PASSWORD: p4ssw0rd
       JWT_PRIVATE_KEY: dOxZYTTZgXKMHkqLBIQVImayQXAVWdzGBPuFJKggzcgvgPJPXpWzqzKaUOIOGGIr
       SEADOC_VOLUME: /opt/seadoc-data
       SEADOC_IMAGE: seafileltd/sdoc-server:2.0-latest
       ENABLE_SEADOC: false #or true
       SEADOC_SERVER_URL: https://seafile.yourname.synology.me/sdoc-server
       SEAFILE_SERVER_HOSTNAME: localhost:8200
       SEAFILE_SERVER_PROTOCOL: http
       FORCE_HTTPS_IN_CONF: false #true
       SEAFILE_SERVER_LETSENCRYPT: false
    depends_on:
      - db
      - redis
